# Python config
export PYTHON_3_5_OR_HIGHER='/path/to/python3'
export PYTHONPATH='/path/to/project/source:/path/to/stubs'

# Color Vars (for pretty scripting)
export BLA="\033[30m"
export RED="\033[31m"
export GRE="\033[32m"
export YEL="\033[33m"
export BLU="\033[34m"
export MAG="\033[35m"
export CYA="\033[36m"
export WHI="\033[37m"
